// Color Vars
@main-bg-color:#507657;
@second-color: #91A799;
@main-h-color: #A1E6DF;
@canvas:       #FBFCEB;
@btn-bg:       #DFE9AC;
@standout-col: #F9AE40;
@white-col:    whitesmoke;


// Mobile Escapes
@phone: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";




